---
title: Using Microsoft Azure Log Analytics Nozzle for PCF
owner: Partners
---

This topic describes how to use Microsoft Azure Log Analytics Nozzle for PCF.

##<a id='using'></a> Using the Microsoft Azure Log Analytics Nozzle for PCF

After installation, the Azure Log Analytics Nozzle is available in the Apps Manager. You can start or stop the app, scale the app by changing instance number, memory limit and disk limit.
        <%= image_tag("images/apps-manager.png") %>

##<a id='logsearch'></a> View Logs from PCF in OMS Log Analytics

Follow these steps to view streaming logs from PCF:

1. Navigate to OMS portal of the workspace.

1. You can use **Log Search** to query the data. Here're some examples.

    1. To list all the logs.
        <%= image_tag("images/logsearch-1.png") %>

    1. To get the instance count of each application.
        <%= image_tag("images/logsearch-2.png") %>

    1. To view the realtime CPU usage of each application.
        <%= image_tag("images/logsearch-3.png") %>

1. You can create and customize view dashboard in **View Designer**.
        <%= image_tag("images/dashboard-view.png") %>

1. You can create **Alert Rules** to alert you on different events.
        <%= image_tag("images/create-alert-1.png") %>
        <%= image_tag("images/create-alert-2.png") %>

For more details, please refer to the [guidance](https://github.com/Azure/oms-log-analytics-firehose-nozzle#view-in-oms-portal).
