---
title: Using Microsoft Azure Log Analytics Nozzle for VMware Tanzu
owner: Partners
---

This topic describes how to use Microsoft Azure Log Analytics Nozzle for VMware Tanzu.


## <a id='using'></a> Using the Microsoft Azure Log Analytics Nozzle for VMware Tanzu

After you install the Azure Log Analytics Nozzle, you can manage it in the Apps Manager as a VMware Tanzu app. You can start or stop the app, and scale it by changing its instance number, memory limit, and disk limit.
        <%= image_tag("images/apps-manager.png") %>

<p class="warn"><strong>Warning</strong>: When using a free or limited tier of OMS Log Analytics, log/metric loss is will occur when quotas are reached. See [this knowledge base article](https://community.pivotal.io/s/article/Azure-Log-Analytics-Nozzle-Crashes-Client-Timeout-Errors) for more info.</p>

## <a id='logsearch'></a> View Logs from VMware Tanzu in OMS Log Analytics

To view streaming VMware Tanzu logs in the Azure Operations Management Suite (OMS) portal, navigate to the workspace that you [created](./installing.html#create-oms) for your VMware Tanzu logs.

From your workspace, you can:

* Use **Log Search** to query the data. For example:
    * To list all the logs:
        <%= image_tag("images/logsearch-1.png") %>
    * To get the instance count of each app:
        <%= image_tag("images/logsearch-2.png") %>
    * To view the realtime CPU usage of each app:
        <%= image_tag("images/logsearch-3.png") %>

* Create and customize your view dashboard in **View Designer**:
        <%= image_tag("images/dashboard-view.png") %>

* Create **Alert Rules** to alert you of different events:
        <%= image_tag("images/create-alert-1.png") %>
        <%= image_tag("images/create-alert-2.png") %>

For more information, see the [View in OMS Portal](https://github.com/Azure/oms-log-analytics-firehose-nozzle#view-in-oms-portal) section of the Microsoft Azure Log Analytics Nozzle code repository.
